* {
    padding: 0;
    box-sizing: border-box;
    background: rgb(220, 210, 205);
}

.header {
    position: relative;
    min-height: 100px;
    padding: 20px;
    margin: 1% 1% 1px 1%;
}

.navbar {
    position: relative;
    background: rgb(140, 125, 115);
    display: flex;
    min-height: 25px;
    padding: 10px;
    margin: 1px 1% 1px 1%;
    justify-content: center;
}

.navbar a {
    padding: 0px 10px;
    background: transparent;
}

.row {
    display: flex;
    margin: 1px 1% 1px 1%;
}

.side {
    min-width: 120px;
    padding: 10px;
    justify-items: center;
}

.main {
    padding-left: 30px;
}

.fakeimg {
    height: 100px;
    border-radius: 100px;
    justify-content: center;
    padding: 10px;
}

.fakeimg img {
    height: 100px;
    border-radius: 100px;
}

.footer {
    position: relative;
    background: rgb(140, 125, 115);
    display: flex;
    height: 50px;
    padding-top: 5px;
    margin: 1px 1% 1% 1%;
    justify-content: center;
}

.footer a {
    display: flex;
    align-items: center;
    background: transparent;
}

.footer a img {
    width: 40px;
    padding: 0 10px;
    background: transparent;
}