* {
    padding: 0;
    box-sizing: border-box;
    background: rgb(220, 210, 205);
}

.header {
    display: flex;
    position: relative;
    min-height: 100px;
    padding: 20px;
    margin: 1% 1% 1px 1%;

    justify-items: center;
}

.header img {
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
    height: auto;
}

.circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.row h2 {
    display: flex;
    align-items: center;
    background: rgb(140, 125, 115);
    padding-left: 10px;
    color: aliceblue;
}

.navbar a {
    padding: 0px 10px;
    background: transparent;
}

.row {
    display: flex;
    margin: 1px 1% 1px 1%;
}

.side {
    min-width: 40%;
    padding: 10px;
    justify-items: center;
}

.side ul {
    padding-left: 20px;
}

.fakeimg {
    height: 100px;
    border-radius: 100px;
    justify-content: center;
    padding: 10px;
}

.fakeimg img {
    height: 100px;
    border-radius: 100px;
}

.footer {
    position: relative;
    background: rgb(140, 125, 115);
    display: flex;
    height: 50px;
    padding-top: 5px;
    margin: 1px 1% 1% 1%;
    justify-content: center;
}

.footer a {
    display: flex;
    align-items: center;
    background: transparent;
}

.footer a img {
    width: 40px;
    padding: 0 10px;
    background: transparent;
}

.even-columns {
    display: grid;
    gap: 3rem;
}

@media (min-width: 426px) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .columns-start-2 {
        grid-column: 1/2;
    }

    .columns-end-2 {
        grid-column: 2/5;
    }
}